<div class="footer navbar-fixed-bottom" id="footer">
  <p> Developed by <a id="link" href="https://www.instagram.com/code_brewers_/">CodeBrewerz</a></p>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</body>

</html>
